<link rel="stylesheet" href="/css/estilos.css">
 <form action="" method="post">
<div id="contenedor">
<div id="imagenFondo">
<img src="/img/gato.jpg" alt="">
</div>
<div id="datos">
    <div id="titulo">
        <div id="pelota">
            <img src="" alt="">
        </div>
         <div id="social">
            <img src="" alt="">
            <p>Social Soccer</p>
        </div>
    </div>
    <div id="Bienvenidos">
        <p>Bienvenidos</p>
    </div>
    <div id="Email">
        <label>Email:</label>
        <input type="email" name="username"   id="email" required aria-checked="true">
    </div>
     <div id="Contraseña">
        <label>Contraseña:</label>
        <input type="text" name="password"   id="contraseña" required>
    </div>
    <div id="olvidar">
        <a href="/olvidar">¿Has olvidado la contraseña?</a>
    </div>
    <div id="ingresar">
        <button type="submit">Ingresar</button>
    </div>    
</div>
</div>
</form>



